.camera-area {
  margin: auto;
  overflow: hidden;
  width: 360px;
  height: 180px;
  /* relativeに設定 */
  position: relative;
  /* 検出範囲のサイズに合わせ枠線を引く */
}
.camera-area video, .camera-area canvas {
  margin-top: -50px;
  width: 400px;
  height: 280px;
}
.camera-area .detect-area {
  position: absolute;
  top: 33%;
  bottom: 33%;
  left: 10%;
  right: 10%;
  border: 2px solid #000;
}