.camera-area {
  margin: auto;
  overflow: hidden;
  width: 360px;
  height: 180px;
  position: relative;
}
.camera-area video, .camera-area canvas {
  margin-top: -50px;
  width: 90%;
  background-color: red;
  margin: 0 auto;
  z-index: 10000;
}
.camera-area .detect-area {
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 10%;
  right: 10%;
  border: 2px solid #000;
}