.camera-area {
  margin: 0 auto;
  overflow: hidden;
  width: 340px;
  height: 140px;
  position: relative;
}
.camera-area video, .camera-area canvas {
  position: relative;
  top: -80%;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.camera-area .detect-area {
  position: absolute;
  top: -80%;
  top: 20%;
  bottom: 20%;
  left: 10%;
  right: 10%;
  border: 2px solid black;
  z-index: 20000;
}